---
import AppTabs from "@/components/AppTabs";
import Layout from "@/layouts/DefaultLayout.astro";
---

<Layout>
  <main class="flex h-screen flex-col items-center justify-center gap-3">
    <AppTabs client:load />
  </main>
</Layout>
