---
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/DefaultLayout.astro";
---

<Layout>
  <main class="flex h-screen flex-col items-center justify-center gap-3">
    <h1 class="text-4xl font-extrabold">
      Direct. Secure. Instant file transfer.
    </h1>
    <div class="flex gap-2">
      <a href="/app">
        <Button>Try now</Button>
      </a>
      <a href="#more">
        <Button variant="outline">Learn more</Button>
      </a>
    </div>
  </main>
</Layout>
